#wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-column-gap: 80px;
    grid-row-gap: 5px;
    border: 1px solid gray;
    padding: 5px;
    grid-template-areas: "a a"
                         "b c"
                         "d d";
}

#wrapper div {
    border: 1px solid gray;
}

#header {
    grid-area: a;
    height: 180px;
}
#content {
    grid-area: b;
    background-color: rgb(241, 241, 241);
    width: 600px;
}
#sidebar {
    grid-area: c;
    background-color: rgb(241, 241, 241);
    align-self: start;
    width: 300px;
    padding-right: 40px;
    padding-bottom: 100px;
}
#footer {
    grid-area: d;
}

h1, h2, h3, h4 {
    /*No se exactamente que tipo de fuente es, así que puse esta*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}